.section-1
{
    background-image: linear-gradient( rgba(145, 19, 19, 0.689),rgba(5, 5, 68, 0.5)), url(../images/sections.jpg);
        background-size: contain;
    background-position:center ;

}
#menu
{
    background-color: rgba(0, 0, 0, 0.603);
}
.content-1 h1
{
font-size: 6rem;
}
.content-1 p
{
    margin-top: 0;
    font-size: 2rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
}

.fas.fa-bars {
    align-self: flex-start; 
}

.nav-cont
{
    margin-right: 0px;
    width: 0;
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
}
.cls
{
    cursor: pointer;
}
.opn
{
    cursor: pointer;
}


.anchs a {
    color: white; 
 
    transition: color 0.3s ease; 
}

.anchs a:hover {
    color: rgb(60, 60, 218);
}

.cls {
    color: white; 
 
    transition: color 0.3s ease; 
}

.cls:hover {
    color: rgb(234, 0, 0);
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body
{
    font-family: 'caveat';
}
.head
{
    color: white;
    

}

.heads
{
    background-image: linear-gradient( rgba(5, 5, 68, 0.5),rgba(5, 5, 68, 0.5)), url(../images/bg.jpg);
    background-size: cover;
    background-position:center ;
}
.section-2
{
    background-color: rgb(234, 226, 217);
    
}
.tail
{
    color: #0D0D79;
}

.head h2
{

    font-size: 3rem;
    margin: 0;
    cursor: pointer;
}
#target {
    position: absolute; 
    top: 10px; 
    left: 0; 
    z-index: 10;
}
.section-3
{
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 20, 0.907), rgba(0, 0, 0, 0.379)), url(../images/sections.jpg);
    background-size: cover;
    background-position:center ;

}

.time
{

    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
   margin-top: 0;
}
.section-3 h1
{
    font-size: 6rem;
    color: azure;
}
.time div {
    margin: 0 10px; 
}

.bg-grey
{
background-color: #5B5B5B;
}




.bg-lighter
{
    background-color:#F4F4F4;
}

.navy
{
    background-color: #1C1C1C;
}

.cprt
{
    color: #4D6A79;
}

.bg-nav
{
    background-color: rgba(0, 0, 0, 0.4);


}
.small-img
{
  width: 5.625rem;
}

.contact
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li
{
    cursor: pointer;
}
#charCount
{
    font-size: 1.1rem;
    color: #cd0000;
}

.btn-hvr1 {
    transition-property: background-color, color;
    transition-duration: 0.5s;
    background-color: rgb(255, 255, 255);
}

.btn-hvr1:hover {
    background-color: rgb(255, 0, 0);
    color: #ffffff;

}
